!!!
%html{:lang => "ja"}
  %head
    %meta{:charset => "utf-8"}
    %title= data.page.title || "Untitled"
    %meta{:content => "width=device-width, initial-scale=1.0", |
      :name => "viewport"}
    = stylesheet_link_tag "bootstrap", "bootstrap-responsive"
  %body
    .container
      = yield
      %footer
        %hr
        %p
          © Advanced Institute of Industrial Technology 2013
    .javascript
      = javascript_include_tag  'jquery', 'bootstrap'
      /[if lt IE 9]
        <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
