---
title: 産業技術大学院大学（AIIT）
---

.row-fluid
  .span8
    .lead
      入試説明会の雰囲気をお写真でお伝えいたします．
      どうぞお気軽にご参加ください．
  .span4
    %ul.pager
      %li
        =link_to '&laquo 前へ', 'guidance.html'
      %li
        =link_to '次へ &raquo', 'thank_you.html'
    
%ul.thumbnails
  %li.span4
    .thumbnail
      =image_tag 'guidance_photos/1_room.jpg'
    司会は情報アーキテクチャ専攻の中鉢先生・加藤先生です．
  %li.span4
    .thumbnail
      =image_tag 'guidance_photos/3_exam_guidance.jpg'
    カリキュラムや入学試験についてのご案内中．
  %li.span4
    .thumbnail
      =image_tag 'guidance_photos/4_professors.jpg'
    教員の自己紹介．真ん中は創造技術専攻の吉田先生．
  %li.span4
    .thumbnail
      =image_tag 'guidance_photos/2_tour.jpg'
    教員の案内でキャンパス・ツアーに向かいます．
  %li.span4
    .thumbnail
      =image_tag 'guidance_photos/5_qa_a.jpg'
    情報アーキテクチャの教員が質問にお答えしています．
  %li.span4
    .thumbnail
      =image_tag 'guidance_photos/6_qa_b.jpg'
    創造技術専攻は専攻長を囲んでアット・ホームな雰囲気で．

