---
title: 産業技術大学院大学（AIIT）
---

.hero-unit
  .row-fluid
    .span12
      %h2
        産業技術大学院大学
        %br
        %small Advanced Institute of Industrial Technology
  .row-fluid
    .span2
      = image_tag 'aiit_logo_200x200.gif'
    .span10
      %p
        高度な専門職人材を育成する，東京都が設置した大学院大学です．
        情報アーキテクチャ専攻と創造技術専攻の2つのプログラム．
        2年間の通学で専門職修士号が取得できます．
        仕事に役立つ業務遂行能力育成型の教育を通し，専門分野で頂点に立つ人材を育成します．
  .row-fluid
    .span2
    .span10
      .row-fluid
        .span4
        .span4
          %div
            %small
              %i.icon-info-sign
              パンフレットなどを無料でお送りいたします．
              お気軽にお申し込みください．
          %div
            %a.span12.btn.btn-warning.btn-large{href: 'https://pr.aiit.ac.jp/wm/form/new'}
              資料請求 &raquo;
        .span4
          %div
            %small
              %i.icon-info-sign
              本ページはランディング・ページです．
              大学の詳細はこちらのWeb Siteをご覧ください．
          %div
            %a.span12.btn.btn-primary.btn-large{href: 'http://aiit.ac.jp/', target: '_source'}
              Web Site &raquo;

.page-header
  %h2
    入試説明会
    %small ご来場お待ちしております
.row-fluid
  .span12
    %h4.badge-warning{style: 'text-align: center; color: white'}
      入試説明会の様子
    
%ul.thumbnails
  %li.span4
    .thumbnail
      =image_tag 'guidance_photos/1_room.jpg'
  %li.span4
    .thumbnail
      =image_tag 'guidance_photos/2_tour.jpg'
  %li.span4
    .thumbnail
      =image_tag 'guidance_photos/3_exam_guidance.jpg'
  %li.span4
    .thumbnail
      =image_tag 'guidance_photos/4_professors.jpg'
  %li.span4
    .thumbnail
      =image_tag 'guidance_photos/5_qa_a.jpg'
  %li.span4
    .thumbnail
      =image_tag 'guidance_photos/6_qa_b.jpg'

