---
title: 産業技術大学院大学（AIIT）
---

.page-header
  %h2
    入試説明会
    %small ご来場お待ちしております
    
%ul.thumbnails
  %li.span4
    .thumbnail
      =image_tag 'guidance_photos/1_room.jpg'
  %li.span4
    .thumbnail
      =image_tag 'guidance_photos/2_tour.jpg'
  %li.span4
    .thumbnail
      =image_tag 'guidance_photos/3_exam_guidance.jpg'
  %li.span4
    .thumbnail
      =image_tag 'guidance_photos/4_professors.jpg'
  %li.span4
    .thumbnail
      =image_tag 'guidance_photos/5_qa_a.jpg'
  %li.span4
    .thumbnail
      =image_tag 'guidance_photos/6_qa_b.jpg'

