---
title: 産業技術大学院大学（AIIT）
---


.row-fluid
  .span8
    .lead
      情報アーキテクチャ専攻と創造技術専攻の2つのプログラムを提供し，
      産業界で活躍する人材を育成します．
  .span4
    %ul.pager
      %li.disabled
        =link_to '&laquo 前へ', '#'
      %li
        =link_to '次へ &raquo', 'feature.html'

.row-fluid
  .span4
    %h4
      %i.icon-comment
      情報アーキテクチャ専攻
    %p
      情報システムに関連する様々な業務を円滑に進めるためのメソドロジーや，
      日々めまぐるしく成長するテクノロジーに即応できる高度な人材が必要とされています．
    %p
      単に最先端の技術動向をウォッチするだけではなく，
      本質的に重要な知識を体系的に学ぶことこそ，
      情報システムのアーキテクトに求められる重要な資質と言えるでしょう．
    %p
      企業の CIO やコンサルタント，プロジェクトのマネージャー，
      ソフトウェアやインフラストラクチャーの高度な専門技術者などを育成する，
      確かなカリキュラムを用意しています．
  .span4
    %h4
      %i.icon-comment
      創造技術専攻
    %p
      感性デザイン領域と工学領域を融合した教育でイノベーション人材を育成します．
      インダストリアル・デザインや，マーケティング，企画，開発など，
      日本が誇るものづくりの実践的手法を体系的に学びたい方に向けたカリキュラムを提供しています．

    %p
      専攻では大学でデザインやエンジニアリングを学んだ後，
      更に実践力を伸ばすために進学した学生も在籍しており，
      若い力と共にプロジェクトを遂行できることも特徴です．
  .span4
    %h4
      %i.icon-comment
      Project-Based Learning
    %p
      両専攻とも，カリキュラムの中心的な柱としてPBLを通した教育を行なっています．
      PBLは実践的なテーマに基づきチームでプロジェクトを遂行することによって，
      徹底的に業務遂行能力を身につける演習形式の授業です．
    %p
      従来の大学院修士課程では修士論文を完成させることが修了の要件となりますが，
      AIITではPBL科目を履修して単位を取得することが必須です．




