---
title: Twitter Bootstrap
---

.container
  .hero-unit
    %h2
      産業技術大学院大学
      %small Advanced Institute of Industrial Technology


  .row
    .span4
      %h3 メリット1
      仕事に役立つ業務遂行能力育成型の教育．
      2年間の通学で専門職修士号が取得できます．
    .span4
      %h3 メリット2
      %p
        社会人が通学しやすい立地．
        りんかい線品川シーサイド駅徒歩3分，
        京急線青物横丁駅徒歩10分，
        品川駅から都バスで10分．
    .span4
      %h3 メリット3
      公立大学ならではの安心感




