---
title: 産業技術大学院大学（AIIT）
---

.hero-unit
  .row-fluid
    .span12
      %h2
        産業技術大学院大学
        %br
        %small Advanced Institute of Industrial Technology
  .row-fluid
    .span2
      = image_tag 'aiit_logo_200x200.gif'
    .span10
      %p
        高度な専門職人材を育成する，東京都が設置した大学院大学です．
        情報アーキテクチャ専攻と創造技術専攻の2つのプログラム．
        仕事に役立つ業務遂行能力育成型の教育．
        2年間の通学で専門職修士号が取得できます．
      .row-fluid
        .span4
          %small
            %i.icon-info-sign
            パンフレットなどを無料でお送りいたします．お気軽にお申し込み ください．
        .span4
          %small
            %i.icon-info-sign
            本ページはランディング・ページです．大学の詳細はWeb Siteをご覧ください．
        .span4
          %small
            %i.icon-info-sign
            入試説明会を開催しております．また，入試の日程もご覧いただけます．
      .row-fluid
        %a.span4.btn.btn-primary.btn-large{href: 'https://pr.aiit.ac.jp/wm/form/new'}
          資料請求 &raquo;
        %a.span4.btn.btn-large{href: 'http://aiit.ac.jp/', target: '_source'}
          Web Site &raquo;
        %a.span4.btn.btn-large{href: 'http://aiit.ac.jp/', target: '_source'}
          入試説明会 &raquo;

.row-fluid
  .span4
    %h3{style: 'text-align: center; color: #EB6321'}
      AIITの3つの特徴
    %font
      AIITは忙しい社会人でも無理なく通学できる大学です．AIITには，社会人学生の学びを支援するための3つの特徴があります．

.row-fluid
  .span4
    %h4.label-warning{style: 'text-align: center; color: white'}
      %i.icon-ok
      メリット1：時間帯
    %p
      授業の時間は平日18:30〜21:40，土曜日10:00〜18:00．
      お仕事をしながらでも通学することができます．
      追加の授業料を負担することなく，3年間で修了する
      長期履修制度もあります．
  .span4
    %h4.label-warning{style: 'text-align: center; color: white'}
      %i.icon-ok
      メリット2：立地
    %p
      キャンパスは
      りんかい線品川シーサイド駅徒歩3分，
      京急線青物横丁駅徒歩10分，
      品川駅から都バスで10分．
      お仕事帰りに通学しやすい立地です．
  .span4
    %h4.label-warning{style: 'text-align: center; color: white'}
      %i.icon-ok
      %span.badge 3
      学費
    %p
      公立大学ならではの安心感．
      入学金20万（都民10万），授業料50万（年間）
      授業料減免制度・奨学金制度あり．
      給付金対象．
%hr
.row-fluid
  .span4{style: 'text-align: center'}
    %h4
      入試説明会のご案内
      %i.icon-calendar
    %iframe{:frameborder => "0", :width => '100%', :height => "400", :scrolling => "no", :src => "https://www.google.com/calendar/embed?showTitle=0&showNav=0&showDate=0&showPrint=0&showTabs=0&showCalendars=0&showTz=0&mode=AGENDA&height=600&wkst=1&bgcolor=%23FFFFFF&src=hmsf4o8mmqki7oqda7dm5sml00%40group.calendar.google.com&color=%23853104&ctz=Asia%2FTokyo", :style => " border-width:0 "}
  .span4{style: 'text-align: center'}
    %h4
      入試日程のご案内
      %i.icon-calendar
    %iframe{:frameborder => "0", :width => '100%', :height => "400", :scrolling => "no", :src => "https://www.google.com/calendar/embed?showTitle=0&showNav=0&showDate=0&showPrint=0&showTabs=0&showCalendars=0&showTz=0&mode=AGENDA&height=600&wkst=1&bgcolor=%23FFFFFF&src=nfhlajafmvgcd7kuppr94ib02o%40group.calendar.google.com&color=%23853104&ctz=Asia%2FTokyo", :style => " border-width:0 "}



