---
title: 産業技術大学院大学（AIIT）
---

.hero-unit
  .row-fluid
    .span12
      %h2
        産業技術大学院大学
        %br
        %small Advanced Institute of Industrial Technology
  .row-fluid
    .span2
      = image_tag 'aiit_logo_200x200.gif'
    .span10
      %p
        高度な専門職人材を育成する，東京都が設置した大学院大学です．
        情報アーキテクチャ専攻と創造技術専攻の2つのプログラム．
        2年間の通学で専門職修士号が取得できます．
        仕事に役立つ業務遂行能力育成型の教育を通し，専門分野で頂点に立つ人材を育成します．
  .row-fluid
    .span2
    .span10
      .row-fluid
        .span4
          %div
            %small
              %i.icon-info-sign
              入試説明会を開催しております．
              また，入試の日程もご覧いただけます．
          %div
            %a.span12.btn.btn-warning.btn-large{href: './guidance.html'}
              入試・説明会 &raquo;
        .span4
          %div
            %small
              %i.icon-info-sign
              パンフレットなどを無料でお送りいたします．
              お気軽にお申し込みください．
          %div
            %a.span12.btn.btn-warning.btn-large{href: 'https://pr.aiit.ac.jp/wm/form/new'}
              資料請求 &raquo;
        .span4
          %div
            %small
              %i.icon-info-sign
              本ページはランディング・ページです．
              大学の詳細はこちらのWeb Siteをご覧ください．
          %div
            %a.span12.btn.btn-primary.btn-large{href: 'http://aiit.ac.jp/', target: '_source'}
              Web Site &raquo;

.row-fluid
  .span8
    .lead
      AIITには，忙しい社会人学生の学びを支援するための3つの特徴があります．
  .span4

.row-fluid
  .span4
    %h4.label-warning{style: 'text-align: center; color: white'}
      %i.icon-ok
      特徴1：時間
    %p
      授業の時間は平日18:30〜21:40，土曜日10:00〜18:00．
      お仕事をしながらでも通学することができます．
      追加の授業料を負担することなく，
      3年間で修了する長期履修制度もあります．
    %div{style: 'text-align: center'}
      =image_tag 'campus_night.png', {width: '75%'}
  .span4
    %h4.label-warning{style: 'text-align: center; color: white'}
      %i.icon-ok
      特徴2：立地
    %p
      キャンパスはりんかい線品川シーサイド駅のすぐ近く．
      京急線青物横丁駅からは徒歩で10分，
      品川駅から都バス91,93系統で10分．
      お仕事帰りに通学しやすい立地です．
    =image_tag 'access_map.png', {width: '100%'}
  .span4
    %h4.label-warning{style: 'text-align: center; color: white'}
      %i.icon-ok
      特徴3：公立
    %p
      東京都が設置した公立大学ならではの安心感．
      授業料520,800円（年額），入学料282,000円（都民141,000円）．
      授業料減免制度・各種奨学金制度あり．
      教育訓練給付制度指定講座です．



