---
title: 産業技術大学院大学（AIIT）
---


.row-fluid
  .span8
    .lead
      情報アーキテクチャ専攻と創造技術専攻の2つのプログラムを提供し，
      産業界で活躍する人材を育成します．
  .span4
    %ul.pager
      %li.disabled
        =link_to '&laquo 前へ', '#'
      %li
        =link_to '次へ &raquo', 'feature.html'

.row-fluid
  .span4
    %h4
      %i.icon-comment
      情報アーキテクチャ専攻
    %p
      本専攻では，情報システムの専門職としてのアーキテクトを育成します．
      業務を円滑に進めるメソドロジーや，
      日々めまぐるしく成長するテクノロジーに即応できるようになるための，
      PBLを中心とした体系的なカリキュラムをご用意しています．
    %p
      企業のCIOやコンサルタント，プロジェクト・マネージャー，
      ソフトウェアやインフラストラクチャーの高度な専門技術者を
      目指す方のためのプログラムです．
  .span4
    %h4
      %i.icon-comment
      創造技術専攻
    %p
      感性デザイン領域と工学領域を融合した教育でイノベーション人材を育成します．
      インダストリアル・デザインや，マーケティング，企画，開発など，
      日本が誇るものづくりの実践的手法を体系的に学びたい方に向けたカリキュラムを提供しています．

    %p
      専攻では大学でデザインやエンジニアリングを学んだ後，
      更に実践力を伸ばすために進学した学生も在籍しており，
      若い力と共にプロジェクトを遂行できることも特徴です．
  .span4
    %h4
      %i.icon-question-sign
      PBLとは？
    %p
      両専攻とも，カリキュラムの中心的な柱としてPBL（Project-Based Learning）を通した教育を行なっています．
      PBLは実践的なテーマに基づきチームでプロジェクトを遂行することによって，
      徹底的に業務遂行能力を身につける演習形式の授業です．
    %p
      修士論文の執筆を通して研究能力を身につける従来の修士課程と異なり，
      プロジェクト活動とその成果に基づき専門職修士号を修得します．




