---
title: 産業技術大学院大学（AIIT）
---

.row-fluid
  .span8
    .lead
      まだまだご紹介したいことがたくさんございます．
      パンフレットなどの資料や，Webページをどうぞご覧ください．
  .span4
    %ul.pager
      %li
        %a{href: './guidance_photos.html'} &laquo; 前へ
      %li
        %a{href: 'https://pr.aiit.ac.jp/wm/form/new', target: '_blank'}
          資料請求へ &raquo;
