---
title: 産業技術大学院大学（AIIT）
---

.row-fluid
  .span8
    .lead
      まだまだご紹介したいことがたくさんございます．
      パンフレットなどの資料や，Webページをどうぞご覧ください．
  .span4
    %ul.pager
      %li
        =link_to '&laquo 前へ', 'guidance_photos.html'
      %li.disabled
        =link_to '次へ &raquo', '#'

.row-fluid
  .span4
  %a.span2.btn{ |
      href: 'https://pr.aiit.ac.jp/wm/form/new'} |
    資料請求 &raquo;
  %a.span2.btn{ |
      href: 'http://aiit.ac.jp/', target: '_blank'} |
    Web &raquo;
