---
title: 産業技術大学院大学（AIIT）
---

.row-fluid
  .span8
    .lead
      まだまだご紹介したいことがたくさんございます．
      パンフレットなどの資料や，Webページをどうぞご覧ください．
  .span4
    %ul.pager
      %li
        =link_to '&laquo 前へ', 'guidance_photos.html'
      %li
        =link_to '資料請求へ &raquo', 'https://pr.aiit.ac.jp/wm/form/new', |
          {target: '_blank'}
